.side__nav {
  .side__bar {
    width: 70px;
    height: 902px;
    background-color: #0d28a6;
    color: #ffffff;
    overflow: hidden;
    .nav-item {
      width: 70px;
      height: 64px;
      a {
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
      }
    }
    .active {
      background: rgba(255, 255, 255, 0.3);
    }
  }
  .main__section {
    width: 100%;
    .navbar {
      background: #ffffff;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
      .navbar-brand {
        padding-left: 10px;
        padding-right: 60px;
      }
      .collapse {
        form {
          padding: 5px 0px;
          margin-right: 25px;
          .form-control {
            margin: 0px;
            align-items: center;
            padding: 8px 12px;
            padding: 9px 12px;
            border: 1px solid #d0d0d0;
            border-radius: 2px;
            &:focus {
              outline: none !important;
              box-shadow: none;
            }
          }
          .btn {
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            background: #ffffff;
            border: 1px solid #0d28a6;
            border-radius: 2px;
            color: #0d28a6;
          }
        }
        .dropdown__profile {
          .dropdown {
            a {
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              color: #151515;
            }
          }
        }
      }
    }
    .cars {
      overflow: hidden;
      width: 220px;
      height: 830px;
      .navbar-nav {
        a {
          height: 42px;
          padding-left: 24px;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
          color: #8a8a8a;
        }
        .active {
          background: #cfd4ed;
          font-weight: 700;
          font-size: 14px;
          line-height: 20px;
          p {
            color: #151515;
          }
        }
      }
    }
    .content {
      width: 100%;
      background-color: #f4f5f7;
      height: 1492px;
      .container {
        padding: 15px 23px;
        nav {
          .breadcrumb {
            a {
              text-decoration: none;
              font-weight: 700;
              font-size: 12px;
              line-height: 18px;
              /* identical to box height, or 150% */
              /* Neutral/01 */
              color: #000000;
            }
            li {
              font-weight: 300;
              font-size: 12px;
              line-height: 18px;
              /* identical to box height, or 150% */
              color: #222222;
            }
          }
          .alert-success {
            display: flex;
            align-items: center;
            margin-left: 13vw;
            justify-content: center;
            width: 550px;
            height: 48px;
            background: #73ca5c;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            color: #ffffff;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
          }
          .alert-dark {
            display: flex;
            align-items: center;
            margin-left: 13vw;
            justify-content: center;
            width: 550px;
            height: 48px;
            background: #151515;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            color: #ffffff;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
          }
        }
        .d-flex {
          padding-top: 4px;
          h5 {
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            /* identical to box height, or 150% */
            /* Neutral/01 */
            color: #000000;
          }
          .btn__primary {
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            color: #ffffff;
            background: #0d28a6;
            border-radius: 2px;
            img {
              padding-top: 0px;
              padding-right: 5px;
            }
          }
        }
        .modal {
          .modal-dialog {
            .modal-content {
              width: 387px;
              height: 333px;
              padding: 0px 50px;
              img {
                width: 153px;
              }
              h2 {
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: #000000;
              }
              p {
                font-weight: 300;
                font-size: 14px;
                line-height: 20px;
              }
              .button__modal {
                .btn__primary {
                  width: 87px;
                  background: #0d28a6;
                  border-radius: 2px;
                  font-weight: 700;
                  font-size: 14px;
                  line-height: 20px;
                }
                .btn__secondary {
                  border: 1px solid #0d28a6;
                  border-radius: 2px;
                  background: #ffffff;
                  width: 87px;
                  font-weight: 700;
                  font-size: 14px;
                  line-height: 20px;
                  color: #0d28a6;
                }
              }
            }
          }
        }
        .button__group {
          margin-top: 20px;
          .button__secondary {
            background: #ffffff;
            border: 1px solid #aeb7e1;
            border-radius: 2px;
            padding: 8px 12px;
            gap: 10px;
            color: #aeb7e1;
          }
          .active {
            background: #cfd4ed;
            border: 1px solid #0d28a6;
            border-radius: 2px;
            color: #0d28a6;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
          }
        }
        .card {
          .card-body {
            .h5__tipe {
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              /* identical to box height, or 143% */
              color: #000000;
            }
            .h5__hari {
              font-weight: 700;
              font-size: 16px;
              line-height: 24px;
              /* identical to box height, or 150% */
              color: #000000;
            }
            .p__date {
              font-weight: 300;
              font-size: 14px;
              line-height: 20px;
            }
            .btn__danger {
              background: #ffffff;
              border: 1px solid #fa2c5a;
              border-radius: 2px;
              font-weight: 700;
              font-size: 14px;
              line-height: 20px;
              color: #fa2c5a;
              height: 48px;
              display: flex;
              justify-content: center;
              align-items: center;
              &:hover {
                background-color: #fa2c5a;
                color: #ffffff;
              }
            }
            .btn__success {
              background: #5cb85f;
              border-radius: 2px;
              color: #ffffff;
              font-weight: 700;
              font-size: 14px;
              line-height: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
        .bg__white {
          background: #ffffff;
          border-radius: 2px;
          padding: 20px 20px;
          small {
            font-weight: 300;
            font-size: 10px;
            line-height: 14px;
            color: #8a8a8a;
          }
          p {
            font-weight: 300;
            font-size: 12px;
            line-height: 18px;
            color: #3c3c3c;
          }
          input,
          select {
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 18px;
          }
        }
        .button__down {
          margin-top: 30px;
          .button__secondary {
            background: #ffffff;
            border: 1px solid #0d28a6;
            border-radius: 2px;
            color: #0d28a6;
          }
          .button__primary {
            background: #0d28a6;
            border-radius: 2px;
            color: #ffffff;
          }
        }
      }
    }
  }
}
